#content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

#searcharea {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);

}

#textbar {
	width: 500px;
	text-align: center;
}

#searchresults {
	position: relative;
	left: 50%;
	top: -170px;
	height: 300px;
	width: 600px;
	border-style: solid;
	transform: translate(-50%, 80%);
}

.row {
	position: absolute;
	left: 10%;
}

#followButton {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
}