body {
	background-color: #C9C9C9;
}

#message1 {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#message2 {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}