body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

/*.category {
	float: left;
	margin-right: 30px;
}*/


.input-group {
	max-width: 500px;
}

h1 {
	margin-top: 0px;
}