body {
    margin-left: 2%;
    background-color: #C9C9C9;
    color: #F3F3F3;
}

h1 {
    text-align: center;
}
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

#blurb1 {
    text-align: center;
}
#blurb2 {
    text-align: center;
}

#graphContainer {
    text-align: center;
}

#submitBtn1 {
    margin-left: 5px;
    font-size: 20px;
    width: 125px;
    background-color: #C9C9C9;
    border-width: 2px;
    border-color: white;
}

#submitBtn2 {
    margin-left: 5px;
    font-size: 20px;
    width: 125px;
    background-color: #D0D0D0;
    border-width: 2px;
    border-color: white;
}

.small {
    width: 125px;
}

.ui-datepicker {
    margin-left: 150px;
    width: 240px;
    height: auto;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background-color: black;
}

.ui-datepicker-next {
    margin-left: 79%;
}

.ui-datepicker td {
    border: 1px solid #CCC;
    padding: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: solid #FFF;
    border-width: 1px 0 0 1px;
}