extends navbar_fixed_top

block content
	- var n = 0
	- var currCategory = rows[0]["category"]
	.container.main
		while n < rows.length
			.jumbotron.categories

				label.control-label.editH2(for="category")
					h2.text-info= rows[n]["category"]
					input.form-control(type="hidden", value= rows[n]["category"])
				br
				label.control-label(for="remainingTime") Allowed Time:
					div.input-group.timeAllowed
						input.form-control.time(type="number",placeholder=(Math.floor(parseInt(rows[n]["timeAllowed"])/3600)).toString(), min="0", aria-describedby="sizing-addon2")
						span.input-group-addon  hours
						input.form-control.time(type="number",placeholder=(Math.floor(parseInt(rows[n]["timeAllowed"])/60)%60).toString(), min="0", aria-describedby="sizing-addon2")
						span.input-group-addon  minutes
				div.form-group
					label(for="sel1") Type:
						select.form-control.type(id="sel1")
							each type in setting_types
								if type != rows[n]["type"]
									option= type
								else
									option(selected="selected")=type 
				input(type="hidden", rows[n]["type"])

				while n < rows.length && currCategory === rows[n]["category"]
					.input-group()
						span.input-group-btn.edit-url-btn
							button.btn.btn-default(  type="button") Edit!
						input.form-control(type="text", value= rows[n]["domainName"], disabled='')
						span.input-group-btn.delete-url
							button.btn.btn-default(type='button') Delete!
					input(type="hidden", value= rows[n]["domainName"])
					- n++
				button.btn.btn-default.add-url(type='button') +

				

			if n < rows.length
				-currCategory = rows[n]["category"]
