
extends navbar_fixed_top.jade

body
	block content



		h1= message
		div(class="row")
			div(class="col-md-6")
				div(id="graphContainer")
					canvas(id="myChart")
			div(class="col-md-6")
				div(id="graphContainer2")
					canvas(id="myChart2")
		div(style="text-align : center;") scroll over the charts to view more info!

		div(class="row")
			div(class="col-md-3")
				h2 Sort Usage by:
			div(class="col-md-3")
				h2
					select(id="sortType")
						option(value="category") Category
						option(value="domainName") Domain Name
		div(class="row")
			div(class="col-md-3")
				h2 Type of chart?
			div(class="col-md-3")
				h2
					select(id="chartType")
						option(value="doughnut") Doughnut Chart
						option(value="bar") Bar Graph
		div(class="row")
			div(class="col-md-3")
				h2 View Usage since:
			div(class="col-md-3")
				h2
					input(type="text", id="datepicker",class="small")
					input(id="submitBtn",type="submit", value="View Chart!", onclick="createChart()")

		script(src="/js/Chart.js")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
		script.
			var createChart = null;
			$(document).ready(function() {

				var $j = jQuery.noConflict();
				$("#datepicker").datepicker({
					changeMonth: true,
					changeYear: true});
				$("#datepicker").datepicker({dateFormat: 'yyyy-mm-dd'});

				var canvas = document.getElementById("myChart");
				var ctx = canvas.getContext("2d");
				ctx.canvas.width = 400;
				ctx.canvas.height = 400;
				var d = !{data1};
				var chart = new Chart(ctx).Doughnut(d,{tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %> seconds"});

				var canvas2 = document.getElementById("myChart2");
				var ctx2 = canvas2.getContext("2d");
				ctx2.canvas.width = 400;
				ctx2.canvas.height = 400;
				var d2 = !{data2};
				console.log(d2);
				var chart2 = new Chart(ctx2).Line(d2, {datasetFill : false, multiTooltipTemplate: "<%= datasetLabel %> - <%= value %> seconds"});

				createChart = function() {

					var sortType = document.getElementById("sortType");
					sortType = sortType.options[sortType.selectedIndex].value;
					var chartType = document.getElementById("chartType");
					chartType = chartType.options[chartType.selectedIndex].value;
					var date = new Date($("#datepicker").val());
					if(date.toString() == 'Invalid Date'){
						date = new Date("1971-01-01");
					}
					var xhr = new XMLHttpRequest();

					xhr.addEventListener('readystatechange', function(evt) {
				        if (xhr.readyState === 4) {
				            if (xhr.status === 200) {
								$("#myChart").remove();
								$("#graphContainer").append('<canvas id="myChart"><canvas>');
								canvas = document.getElementById("myChart");
								ctx = canvas.getContext("2d");
								ctx.canvas.width = 300;
								ctx.canvas.height = 300;
								d = JSON.parse(xhr.responseText);
								if(chartType == "doughnut") {
									chart = new Chart(ctx).Doughnut(d,{tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %> seconds"});
								}
								else {
									chart = new Chart(ctx).Bar(d,{tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %> seconds"});
								}
				            }
				            else {
				                console.log("ERROR: status " + xhr.status);
				            }
				        }
					});
					var form = "sortType=" + sortType + "&startTime=" + date.toString() + "&chartType=" + chartType;
					xhr.open('POST','http://localhost:3000/usage/update',true);
					xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

					xhr.send(form);
				}
			});


		link(rel='stylesheet', href='/css/usage.css')

    
