extends navbar_fixed_top.jade

body
	block content



		h1= message
		div(class="row")
			div(class="col-md-2")
				h2 Compare with:
				input(type="text",id="friendName")
				input(id="friendNameSubmit",type="submit", value="Compare!", onclick="createCharts()")
			div(class="col-md-3")
				div(id="graphContainer1")
					canvas(id="chart1")
			div(class="col-md-2")
				div(id="legend1", class="chart-legend")
			div(class="col-md-3")
				div(id="graphContainer2")
					canvas(id="chart2")

		script(src="/js/Chart.js")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
		script.
			var createCharts = null;
			$(document).ready(function(){
				var $j = jQuery.noConflict();
				createCharts = function() {
					var friendName = document.getElementById("friendName");
					friendName = friendName.value;

					var xhr = new XMLHttpRequest();
					xhr.addEventListener("readystatechange",function() {
				        if (xhr.readyState === 4) {
				            if (xhr.status === 200) {
								$("#chart1").remove();
								$("#graphContainer1").append('<canvas id="chart1"></canvas>');
								var canvas1 = document.getElementById("chart1");
								ctx1 = canvas1.getContext("2d");
								ctx1.canvas.width = 300;
								ctx1.canvas.height = 300;
								var d1 = JSON.parse(xhr.responseText);
								console.log(d1);
								var chart1 = new Chart(ctx1).Bar(d1,{legendTemplate : "<ul class=\"  <%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"});
								document.getElementById("legend1").innerHTML = chart1.generateLegend();
							}
						}
					});

					var form = "friendName=" + friendName;
					xhr.open('POST','http://localhost:3000/usage/compare/graphs_update'
					,true);
					xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

					xhr.send(form);
				}
			});


		link(rel='stylesheet', href='/css/usage.css')